{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Amoobot Admin{% endblock %}

{% block main %}
    <p>Use the left menu to manage plans, orders, payments, services and bot logs.</p>
{% endblock %}
